@page "/note_details/{noteId}"
@using NoteCraftModels

<h3>NoteDetails</h3>

@if(NoteToDisplay != null)
{
    <div class="note-content">
        <h1 class="center-text">@NoteToDisplay.Title</h1>
        <h4 style="margin-bottom:15px;">@NoteToDisplay.Description</h4>
        @if (NoteToDisplay.NoteType.Equals(NoteType.Text))
        {
            <p>@NoteToDisplay.Content</p>
        }
        else if (NoteToDisplay.NoteType.Equals(NoteType.Picture))
        {
            <img src="@NoteToDisplay.Content" class="center-image" />
        }
        else
        {
            <p>Unrecognized content type cannot be displayed.</p>
        }
    </div>
    <hr />
    <h4>Comments</h4>
    <EditForm Model="@NoteToDisplay" OnValidSubmit="Comment">
        <div class="form-group">
            <label for="comment" class="col-sm-2 col-form-label">
                Enter your comment:
            </label>
            <div class="col-sm-8">
                <InputText id="comment" class="form-control" DisplayName="Comment" @bind-Value="NewComment.Content" />
            </div>
        </div>
        <button class="btn btn-primary" type="submit" style="margin-top:10px;margin-bottom:15px;">
            <span class="@spinnerClass" role="status" aria-hidden="true"></span>
            Comment
        </button>
    </EditForm>
    @foreach(var comment in NoteToDisplay.Comments)
    {
        <h5 style="font-weight:bold;">@comment.Author</h5>
        <p>@comment.Content</p>
        <hr />
    }
}
else
{
    <p>No note details found</p>
}
<input class="btn btn-primary" type="button" value="Back" style="float:left;margin-top:20px;" @onclick="Back" />